@model MealboxIndexViewModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Packages";

    var IsFilterSelected = (Model.Category != null || Model.Location != null || Model.SortType != null || Model.SearchQuery != null);

    var isLoggedIn = User?.Identity?.IsAuthenticated ?? false;
    var currentUser = User?.Identity;

    var isStudent = ((ClaimsIdentity?)User?.Identity)!.Claims.Any(c => c.Type == "Student");
    var isEmployee = ((ClaimsIdentity?)User?.Identity)!.Claims.Any(c => c.Type == "KantineMedewerker");
}

<div class="container p-5">
    <div class="row">
        <div class="col-12 col-lg-3 d-block">
            <form asp-controller="Package" asp-action="Index" method="post" class="border rounded p-3">
                <h4 class="fw-bold">Zoeken</h4>
                <input asp-for="SearchQuery" type="text" class="form-control" placeholder="Naam maaltijddoos" value="@Model.SearchQuery">
                <hr />

                <h4 class="fw-bold mt-3">Categorie</h4> 
                @foreach(string category in Model.Categories) {
                    <div class="form-check">
                        <input asp-for="@Model.Category" class="form-check-input" type="radio" name="category" value="@category" checked="@(category == Model.Category)">
                        <label class="form-check-label">
                            @category
                        </label>
                    </div>
                }
                <hr />

                
                <h4 class="fw-bold">Locatie</h4>
                <div class="form-check">
                    <input asp-for="@Model.Category" class="form-check-input" type="radio" name="location" value="@City.BREDA" checked="@(Model.Location == City.BREDA)">
                    <label class="form-check-label">
                        @City.BREDA.GetDisplayName()
                    </label>
                </div>

                <div class="form-check">
                    <input asp-for="@Model.Category" class="form-check-input" type="radio" name="location" value="@City.TILBURG" checked="@(Model.Location == City.TILBURG)">
                    <label class="form-check-label">
                        @City.TILBURG.GetDisplayName()
                    </label>
                </div>

                <div class="form-check">
                    <input asp-for="@Model.Category" class="form-check-input" type="radio" name="location" value="@City.SHERTOGENBOSCH" checked="@(Model.Location == City.SHERTOGENBOSCH)">
                    <label class="form-check-label">
                        @City.SHERTOGENBOSCH.GetDisplayName()
                    </label>
                </div>
                <hr />

                <h4 class="fw-bold">Sorteren</h4>
                <select asp-for="SortType" class="form-select mt-3">
                    <option value="@FilterMenuSortType.DATE_ASC">@FilterMenuSortType.DATE_ASC.GetDisplayName()</option>
                    <option value="@FilterMenuSortType.DATE_DESC">@FilterMenuSortType.DATE_DESC.GetDisplayName()</option>
                    <option value="@FilterMenuSortType.PRICE_ASC">@FilterMenuSortType.PRICE_ASC.GetDisplayName()</option>
                    <option value="@FilterMenuSortType.PRICE_DESC">@FilterMenuSortType.PRICE_DESC.GetDisplayName()</option>
                </select>

                @if(isLoggedIn && isEmployee){
                    <hr />
                    <h4 class="fw-bold mt">Gereserveerde</h4>
                    <div class="form-check">
                        <input asp-for="ReservedSelected" class="form-check-input" type="checkbox" checked="@(Model.ReservedSelected)">
                        <label class="form-check-label" for="flexCheckDefault">
                             Toon gereserveerde
                        </label>
                    </div>
                }

                <button type="submit" class="btn btn-avansmeals-info mt-3">Filters toepassen</button>
            </form>

        </div>
        <div class="col-lg-9 col-12 pt-lg-0 pt-5">
            <div class="d-flex flex-column flex-lg-row">
                <h1 class="fw-bold">AvansMeals <span class="color-span">maaltijddozen</span></h1>

                @if (isLoggedIn && isEmployee)
                {
                    <a class="btn btn-avansmeals-create d-inline ms-lg-auto my-auto" asp-action="Add" asp-controller="Package">
                        <i class="fa-solid fa-plus me-2"></i>Doos toevoegen
                    </a>
                }
            </div>

            <p class="pt-4 pt-lg-0">
                Op deze pagina vind je een aantal maaltijddozen die op dit moment beschikbaar zijn. Navigeer naar de pagina van een van de pakketten door er op te klikken.
                Ook kun je een aantal filters toepassen om een pakket naar uw voorkeuren te vinden.
            </p>

            @if (IsFilterSelected)
            {
                <div class="d-flex my-3">
                    <div class="rounded border border-end-0 p-2">

                        @if (Model.Location != null)
                        {
                            <span class="badge bg-secondary mx-1">@Model!.Location!.GetDisplayName()</span>
                        }

                        @if (Model.SortType != null)
                        {
                            <span class="badge bg-secondary mx-1">@Model!.SortType!.GetDisplayName()</span>
                        }

                        @if (Model.Category != null)
                        {
                            <span class="badge bg-secondary mx-1">@Model!.Category</span>
                        }

                        @if (Model.SearchQuery != null)
                        {
                            <span class="badge bg-secondary mx-1">"@Model!.SearchQuery"</span>
                        }

                        @if (Model.ReservedSelected)
                        {
                            <span class="badge bg-secondary mx-1">Gereserveerde</span>
                        }
                    </div>

                    <a asp-action="Index" asp-controller="Package" class="btn btn-avansmeals-delete">
                        <i class="fa-solid fa-xmark"></i>
                    </a>
                </div>
            }

            <div class="row">
                @if(Model!.FilteredList!.Count > 0){
                    @foreach (var mealbox in Model!.FilteredList)
                    {
                        <div class="foodbox-card rounded col-12 col-lg-3 py-3">
                            <a class='d-block h-100' asp-controller="Package" asp-action="Details" asp-route-id="@mealbox.Id">
                                <div class='card h-100 pt-4'>
                                    <div class='d-flex align-items-center'>
                                        <img class='img-fluid mx-auto p-4' src="@mealbox.CategoryImageBase64" width="200" height="200" />
                                    </div>
                                    <div class='card-body'>
                                        <p class='card-text title fw-bold'>@mealbox.Name</p>
                                        <span class="badge bg-secondary">@mealbox.CategoryName</span>

                                        @if (mealbox.IsAgeBound)
                                        {
                                            <span class="badge bg-success tag-18">18+</span>
                                        }
                                    </div>
                                    <div class='card-footer'>
                                        <span class="badge bg-success my-auto mt-2">
                                            @if (mealbox.Reserved)
                                            {
                                                <i class="fa-solid fa-piggy-bank"></i>
                                            }else{
                                                @($"€ {mealbox.Price}");
                                            }
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                }else{
                    <p>Geen maaltijdpakketten gevonden met de gegeven filters</p>
                }   
            </div>
        </div>
    </div>
</div>